@font-face {
  font-family: 'Klein';
  src: url('/fonts/Klein-Medium.woff2') format('woff2'),
    url('/fonts/Klein-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Klein';
  src: url('/fonts/Klein-Bold.woff2') format('woff2'),
    url('/fonts/Klein-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Klein';
  src: url('/fonts/Klein-Regular.woff2') format('woff2'),
    url('/fonts/Klein-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-main: "Klein";
  --letter-main: -0.44px;

  --color-dark: #182A42;
  --color-gray: #8090A4;
  --color-border: #EBEBEB;
  --color-accent: #FF2741;
  --color-blue: #43A0FD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main), sans-serif;
  background-color: #fff;
  color: var(--color-dark);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
